[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sounddevice = "*"
numpy = "*"
pyaudio = "*"
daily-python = "*"
vapi-server-sdk = "*"
vapi-python = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
